@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow:auto;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}


::-webkit-scrollbar-track {
  background: #1e293b !important; 
  border-radius: 10px !important;
}


::-webkit-scrollbar-thumb {
  background: #078B9F !important;
  border-radius: 10px !important;
  border: 2px solid #1e293b !important;
  transition: background 0.3s ease-in-out !important;
}


::-webkit-scrollbar-thumb:hover {
  background: #078B9F !important;
}


* {
  scrollbar-width: thin !important;
  scrollbar-color: #078B9F #ffffffaa !important;
} 








@media (min-width: 1025px) and (max-width: 1279px) {
  #RequestCont{
    width: 100%;
    /* background: #000; */
 display: flex;
 width: 200px;
text-align: center;
  }
  #Request{
    flex-wrap: nowrap;
    width: 100%;
    
  }


  .boxes{

    overflow: hidden;

  }
  .box{

  width: 150px;
 text-align: center;
 justify-content: center;
 display: flex;
justify-items: center;
align-items: center;
 flex-direction: column;
  
  }

  #FORM{
   position: absolute;
   /* top: 20px; */
   padding: 100px;
   background-color: transparent;
  
  }
#PLANS{
/* background-color: black; */

display: flex ;
gap: 10px;




}
}